.project-container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
}
.project-inside-container{
    display: flex;
    flex-direction: column;
    font-family: 'Darker Grotesque';

}
.project-gallery-container{
    display: flex;
}